<div class="panel">
  <div class="panel-body">
    <%= image_tag avatar_url(message.user), class: "img-circle avatar-small" %>
    
    <strong><%= message.user.firm_name %></strong>
    
    <span class="pull-right"><%= timeago_tag message.created_at, :lang => :fr %></span>
    
    <br>
    
    <div class="row-space-2">
      <%= message.content %>
    </div>
  </div>
</div>
