	<div class="row">
		<div class="col-md-4 col-md-offset-4 text-center">
    		<h2>Validation de mon mail</h2>

    		<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
				<%= render 'shared/devise_errors' %>

				<div class="form-group">
					<p>Saisissez l'adresse email associée à votre compte. Nous vous enverrons un email pour valider votre email.</p>
					<%= f.email_field :email, autofocus: true, class:"form-control", placeholder: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
				</div>

				<div class="actions">
					<%= f.submit "Renvoyer un email de confirmation", class:"btn btn-primary" %>
				</div>
			<% end %>
		</div>
	</div>
