  <div class="row">
    <div class="col-md-3">
      <ul class="sidebar-list">
        <li class="sidebar-item">
          <%= link_to 'Modifier mon profil', edit_user_registration_path, class: 'sidebar-link active' %>
        </li>
      </ul>
      <br>
      <%= link_to 'Voir mon profil', user_path(current_user.id), class: 'btn btn-default wide1' %>
    </div>
  
    <div class="col-md-7 text-center">
      <div class="panel panel-default">
        <div class="panel-heading">Mon profil</div>
        <div class="panel-body">
          <div class="container">
          
            <h2>Modifiez votre profil</h2>
          
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= render 'shared/devise_errors' %>
            
              <div class="form-group">
                <%= f.text_field :firm_name, autofocus: true, class: "form-control", placeholder: "Nom de l'entreprise" %>
              </div>

              <div class="form-group">
                <%= f.text_field :firm_sector, autofocus: true, class: "form-control", placeholder: "Secteur" %>
              </div>

              <div class="form-group">
                <%= f.text_field :firm_siret, autofocus: true, class: "form-control", placeholder: "Siret de l'enteprise" %>
              </div>

              <div class="form-group">
                <%= f.text_field :address, autofocus: true, class: "form-control", placeholder: "Siège social de l'entreprise" %>
              </div>

              <div class="form-group">
                <%= f.text_field :email, autofocus: true, class: "form-control", placeholder: "email de l'entreprise" %>
              </div>

              <div class="form-group">
                <%= f.text_field :employed_firm, autofocus: true, class: "form-control", placeholder: "Nombre d'employés" %>
              </div>

              <div class="form-group">
                <%= f.text_field :phone_number, autofocus: true, class: "form-control", placeholder: "Téléphone de l'entreprise" %>
              </div>

              <div class="form-group">
                <%= f.text_field :fax_number, autofocus: true, class: "form-control", placeholder: "Numéro de fax del 'entreprise" %>
              </div>

              <div class="form-group">
                <%= f.text_field :site_web, autofocus: true, class: "form-control", placeholder: "Site web de l'entreprise" %>
              </div>

              <div class="form-group">
                <%= f.text_field :statut_firm, autofocus: true, class: "form-control", placeholder: "Statut juridique" %>
              </div>

              <div class="form-group">
                <%= f.text_area :description_firm, rows:4, class: "form-control", placeholder: "Description de l'entreprise" %>
              </div>

              <div class="form-group">
                <%= f.text_area :description_product, rows:4, class: "form-control", placeholder: "Description produits et/ou services" %>
              </div>

              <br>

              <div class="form-group">
                <%= f.text_field :lastname, autofocus: true, class: "form-control", placeholder: "Nom de l'annonceur" %>
              </div>

              <div class="form-group">
                <%= f.text_field :firstname, autofocus: true, class: "form-control", placeholder: "Prénom de l'annonceur" %>
              </div>

              <div class="form-group">
                <%= f.text_field :poste, autofocus: true, class: "form-control", placeholder: "Poste de l'annonceur" %>
              </div>

              <div class="row">   
                <div class="col-md-12">
                  <div class="form-group">
                    <span class="btn btn-default btn-file">
                      <i class = "fa fa-cloud-upload-alt fa-lg"></i>
                      télécharger une photo de profil entreprise
                      <%= f.file_field :avatar %>
                    </span>
                  </div>
                </div>
              </div>
 
              <br>

              <div class="form-group">
                <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder: "Nouveau mot de passe (si vous souhaitez changer de mot de passe)"  %>
              </div>
 
              <div class="form-group">
                <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder: "Confirmation du mot de passe" %>
              </div>
 
              <div class="actions">
                <%= f.submit "Enregistrer", class: "btn btn-primary" %>
                <br>
                <br>
              
                <% unless current_user.confirmed_at? %>
                  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html:{method: :post}) do |f| %>
                    <%= f.hidden_field :email, value: current_user.email %>
                    <div class="actions">
                      <%= f.submit "Renvoyer un email de confirmation", class:"btn btn-primary"%>
                       <%= link_to 'Supprimer mon annonce', user_path(@user), method: :delete, data: {confirm: 'ëtes-vous sur de vouloir supprimer votre annonce?'}, class: "btn btn-primary" %>
                            </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
        
          </div>
        </div>
      </div>
    </div>
  </div>
