  <div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render 'shared/devise_errors' %>
      
        <div class="form-group">
          <%= f.text_field :firm_name, autofocus: true, class: "form-control", placeholder: "Nom de l'entreprise" %>
        </div>
      
        <div class="form-group">
          <%= f.text_field :firm_sector, autofocus: true, class: "form-control", placeholder: "Secteur" %>
        </div>
      
        <div class="form-group">
          <%= f.text_field :address, autofocus: true, class: "form-control", placeholder: "Siège social de l'entreprise" %>
        </div>
      
        <div class="form-group">
          <%= f.text_field :email, autofocus: true, class: "form-control", placeholder: "email de l'entreprise" %>
        </div>

        <br>

        <div class="form-group">
          <%= f.text_field :lastname, autofocus: true, class: "form-control", placeholder: "Nom de l'annonceur" %>
        </div>
      
        <div class="form-group">
          <%= f.text_field :firstname, autofocus: true, class: "form-control", placeholder: "Prénom de l'annonceur" %>
        </div>
      
        <div class="form-group">
          <%= f.text_field :poste, autofocus: true, class: "form-control", placeholder: "Poste de l'annonceur" %>
        </div>

        <br>

        <div class="form-group">
          <%= f.password_field :password, autofocus: true, class: "form-control", placeholder: "créer un mot de passe" %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, autofocus: true, class: "form-control", placeholder: "Confirmer le mot de" %>
        </div>
      
        <div class="actions">
          <%= f.submit "inscription", class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
