<style>
  .search {
    background-color: #FFF;
    background-repeat: no-repeat;
    background-size: 1600px 900px;
    border: 2px solid #1E90FF;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    td,
    th {
      border: 1px solid;
      width: 50%;
    }
  }
</style>

  <div class="search">
    <%= search_form_for @search do |f| %>
      <div class="field">
        <%= f.label :firm_name_or_firm_sector_cont,  class: "control-label hidden" %>
        <%= f.search_field :firm_name_or_firm_sector_cont, placeholder: "Saissisez le nom ou secteur de votre futur collaborateur", class: "form-control"%>
        <br>
        <div class="actions">
          <%= f.submit "Rechercher", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
    <br>

    <h2>Vos résultats</h2>
    <% if @users.empty? %>
      Aucune annonce ne correpond à votre recherche.
    <% else %>
      <% @users.each do |user| %>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Entreprise</th>
              <th>Secteur</th>
            </tr>
          </thead>

          <tbody id="myTable">
            <tr>
              <td><%= link_to(user.firm_name, user) %></td>
              <td><%= user.firm_sector %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    <% end %>
  </div>
