  <div class="row">
    <div class="col-md-3">
      <%= image_tag avatar_url(@user), class: "avatar-medium" %>
    
      <% if current_user != @user %>
        <div class="row-space-2">
        <%= link_to "Envoyer un message", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post', class: "btn btn-primary wide" %>
        <% end %>
        </div>
      
    
      <% if @user.confirmed_at %>
        Email confirmé
      <% else %>
        Email non confirmé
      <% end %>
    
      <div class="panel panel-default">
        <div class="panel-heading">Contact</div>
        <div class="panel-body">
          <b>Siège social:</b> <a href="#map" class="sidebar-link"><%= @user.address %></a><br>
        
          <b>Numéro de téléphone:</b> <%= @user.phone_number %><br>
        
          <b>Email:</b> <%= @user.email %><br>
        
          <b>Site web:</b> <a href="<%= @user.site_web %>" target="_blank"><%= @user.site_web %></a><br>

          <br>
        
          <b>Nom de l'annonceur:</b> <%= @user.lastname %><br>
      
          <b>Prénom de l'annonceur:</b> <%= @user.firstname %><br>

          <b>Poste de l'annonceur:</b> <%= @user.poste %><br> 
        </div>
      </div>
    </div>
  
    <div class="col-md-9">
      <h2>Nom de l'entreprise: <strong><%= @user.firm_name %></strong></h2>
      <div class="description row-space-3">
        <b>Secteur:</b> <%= @user.firm_sector %><br>

        <b>Description de l'entreprise:</b> <%= @user.description_firm %><br>
      
        <b>Description de vos produits et/ou services:</b> <%= @user.description_product %><br>
      
        <b>Statut juridique:</b> <%= @user.statut_firm %><br>

        <b>Nombre d'employés:</b> <%= @user.employed_firm %><br>
        
        <b>Numéro de siret:</b> <%= @user.firm_siret %><br>
      </div>
    </div>
  
    <h4>Annonces (<%= @annonces.length %>)</h4><br>
    <div class="row">
    
      <% @annonces.each do |annonce| %>
      
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading preview">
              <%= image_tag annonce.photos[0].image.url(:medium) if annonce.photos.length > 0 %>
            </div>
          
            <div class="panel-body">
            <%= link_to annonce.product_name, annonce_path(annonce) %>
            </div>
          </div>
        </div>
    
      <% end %>
  
    </div>
  
    <div class="col-md-11">
      <h4>Evaluations</h4>
    
      <% @annonces.each do |annonce| %>
      
        <% if !annonce.reviews.blank? %>

          <% annonce.reviews.each do |review| %>

            <div class="row">
              <div class="col-md-2 text-center">
                <%= image_tag avatar_url(review.user), class: "img-circle avatar-medium" %>
                <br>
                <%= review.user.firm_name %>
              </div>

              <div class="col-md-10">
                <%= link_to annonce.product_name, annonce %>
                <br>
                <%= review.comment %>
                <br>
                <%= review.created_at.strftime("(%d/%m/%y)") %>
              </div>
            </div>

          <% end %>

        <% end %>

      <% end %>
  
    </div>
  
    <!-- Google maps -->
    <div class="row">
      <div class="col-md-12">
        <div id="map"></div>
        
        <style>
            #map {
              height: 700px;
              width: 300%;
            }
        </style>
        
        <script>
          function initMap() {
            var uluru = {lat: <%= @user.latitude %>, lng: <%= @user.longitude %>};
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: uluru
            });
            var marker = new google.maps.Marker({
              position: uluru,
              map: map
            });
          }
        </script>
        <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAm2ZB-BL3x0-EoSSJ4nvKXsc7xJDAIsAI&callback=initMap">
        </script>
      </div>
    </div>
    
  </div>
