  <div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
      <h2>Modifiez votre mot de passe</h2>
      
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render 'shared/devise_errors' %>
      
        <%= f.hidden_field :reset_password_token %>
      
        <div class="form-group">
          <%= f.password_field :password, autofocus: true, autocomplete: "off", class:"form-control", placeholder:"Nouveau mot de passe" %>
        </div>
      
        <div class="form-group">
          <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder:"Confirmez le nouveau mot de passe" %>
        </div>
      
        <div class="actions">
          <%= f.submit "Modifiez votre mot de passe", class:"btn btn-primary" %>
        </div>
      <% end %>
  
    </div>
  </div>
