  <div class="row">
	  <div class="col-md-4 col-md-offset-4 text-center">
		  <h2>Réinitialiser le mot de passe</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

        <%= render 'shared/devise_errors' %>

        <div class="form-group">
          <p>Saisissez l'adresse email associée à votre compte. Un email vous sera envoyé pour réinitialiser votre mot de passe.</p>
          <%= f.email_field :email, autofocus: true, class:"form-control", placeholder: "email" %>
        </div>
      
        <div class="actions">
          <%= f.submit "Envoyer un lien de réinitialisation", class:"btn btn-primary" %>
        </div>
      <% end %>
  
    </div>
  </div>
