<% unless @annonce.errors.empty? %>
    <script type="text/javascript">
        <% @annonce.errors.full_messages.each do |msg| %>
            toastr.error('<%= msg %>')
        <% end %>
    </script>
<% end %>
