<%= form_for([@annonce, @annonce.negoces.new]) do |f| %>     
   
<div class="row">
	<div class="col-md-12 price_tag">
		<span>€ <%= @annonce.price %></span>
		<span class="pull-right"><%= @annonce.product %></span>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<label>Quantité demandée</label>
		<%= f.text_field :quantite_ask, placeholder: 'quantité', class: 'form-control' %>
	</div>
</div>

<div id="preview" style="display: none">
	<table class="negoce-table" >
		<tbody>
			<tr>
				<td>Quantitée demandée</td>
				<td><span id="negoce_quantité_ask"></span></td>
			</tr>
			
			<tr>
				<td>Total</td>
				<td><span id="negoce_sum"></span>€</td>
			</tr>
		</tbody>
	</table>
</div>

<%= f.hidden_field :annonce_id, value: @annonce.id %>
<%= f.hidden_field :price, value: @annonce.price %>
<%= f.hidden_field :total, id: 'negoce_total' %>

<br>

<%= f.submit "Demande de partenariat ", class: "btn btn-primary wide" %>

<% end %>
