  <div class="row">
    <div class="col-md-3">
      <ul class="sidebar-list">
        <li class="sidebar-item"><%= link_to "Mes annonces", annonces_path, class:"sidebar-link" %></li>
        <li class="sidebar-item"><%= link_to "Mes propositions de partenariat", propositions_path, class:"sidebar-link" %></li>
        <li class="sidebar-item"><%= link_to "Mes partenariats", partenariats_path, class:"sidebar-link active" %></li>
      </ul>
    </div>
  
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">Mes partenariats</div>
      
        <div class="panel-body">
        
          <% @partnerships.order("id DESC").each do |partnership| %>
          
            <div class="row">
              <div class="col-md-2">
                quantitée demandée: <%= partnership.quantite_ask %>
              </div>
            
              <div class="col-md-6">
                <%= link_to annonce_path(partnership.annonce) do %>
                  <%= image_tag partnership.annonce.photos[0].image.url(:thumb) if partnership.annonce.photos.length > 0 %>
                <% end %>
              </div>
            
              <div class="col-md-2">
                <%= link_to user_path(partnership.annonce.user) do %>
                  <%= image_tag avatar_url(partnership.annonce.user), class:"img-circle avatar-medium" %>
                <% end %>
              </div>
            
              <div class="col-md-2 right">
                <h4><%= partnership.total %> €</h4>
              </div>
            </div>
          
            <hr>
        
          <% end %>
      
        </div>
      </div>
    </div>
  </div>
