  <div class="row">
    <div class="col-md-3">
      <ul class="sidebar-list">
        <li class="sidebar-item"><%= link_to "Mes annonces", annonces_path, class:"sidebar-link" %></li>
        <li class="sidebar-item"><%= link_to "Mes propositions de partenariat", propositions_path, class:"sidebar-link active" %></li>
        <li class="sidebar-item"><%= link_to "Mes partenariats", partenariats_path, class:"sidebar-link" %></li>
      </ul>
    </div>
  
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">Mes propositions de partenariat</div>
        <div class="panel-body">
          
          <% @annonces.each do |annonce| %>
            
            <% annonce.negoces.order("id DESC").each do |negoce| %>
              
              <div class="row">
                <div class="col-md-2">
                  quantitée demandée: <%= negoce.quantite_ask %>
                </div>
                
                <div class="col-md-6">
                  <%= link_to annonce_path(negoce.annonce) do %>
                    <%= image_tag negoce.annonce.photos[0].image.url(:thumb) if negoce.annonce.photos.length > 0 %>
                  <% end %>
                </div>
                
                <div class="col-md-2">
                  <%= link_to user_path(negoce.annonce.user) do %>
                    <%= image_tag avatar_url(negoce.user), class:"img-circle avatar-medium" %>
                  <% end %>
                </div>
                
                <div class="col-md-2 right">
                  <h4><%= negoce.total %> €</h4>
                </div>
              </div>
              
              <hr>
            
            <% end %>
          
          <% end %>
        
        </div>
      </div>
    </div>
  </div>
