<style>
  body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
  }
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }
  .jumbotron {
    background-color: rgb(30, 40, 150);
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
  }
  .container-fluid {
    padding: 60px 50px;
  }

  .bg-grey {
    background-color: #f6f6f6;
  }
  .logo-small {
    color: rgb(30, 40, 150);
    font-size: 50px;
  }
  .logo {
    color: rgb(30, 40, 150);
    font-size: 200px;
  }
  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: rgb(30, 40, 150);
  }
  .carousel-indicators li {
    border-color: rgb(30, 40, 150);
  }
  .carousel-indicators li.active {
    background-color: rgb(30, 40, 150);
  }
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  .item span {
    font-style: normal;
  }
  .panel {
    border: 1px solid rgb(30, 40, 150);
    border-radius:0 !important;
    transition: box-shadow 0.5s;
  }
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
    border: 1px solid rgb(30, 40, 150);
    background-color: #fff !important;
    color: rgb(30, 40, 150);
  }
  .panel-heading {
    color: #fff !important;
    background-color: #f6f6f6 !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-footer {
    background-color: white !important;
  }
  .panel-footer h3 {
    font-size: 32px;
  }
  .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
  }
  .panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
  }
  .navbar {
    margin-bottom: 0;
  }
  footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: rgb(30, 40, 150);
  }
  .slideanim {
    visibility:hidden;
  }
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
      font-size: 150px;
    }
  }
  .to-top {
    position: fixed;
    bottom: 100px;
    right: 0;
    width: 100px;
  }
  @media only screen and (max-width: 1325px) {
    .to-top {
      position: fixed;
      bottom: 40px;
      right: 0;
      width: 40px;
    }
  }
</style>

  <!-- banniere sales&buy phrase+photo -->
  <div class="container-fluid">
    <div class="row">
      <section class ="fluid-banner">
        <div class="jumbotron text-center">
          <h1><strong>Sales&Buy</strong></h1>
          <h1>Ouvrez votre activité aux entreprises</h1>
          <br>
          <br>
          <br>
          <br>
          <br>
          <%= link_to "Recherche", users_path, class: "btn btn-primary btn-lg" %>
        </div>
      </section>
    </div>
  </div>

  <div class="container-fluid bg-grey">
    <div class="row">
      <div class="col-sm-8">
        <h2>Comment trouver des clients en b to b ?</h2><br>
        <h4>Il est compliqué aux petites entreprises (start-up,pme-pmi) de trouver des clients, fournisseurs ou investisseurs. C'est pour cela que nous avons crée Salesandbuy. Salesandbuy est une plateforme de mise en relation entre entreprise. Notre plateforme vous permet d'accéder à une liste d'entreprise selon des critères prédéterminés: description de l'entreprise, sa vision, les avis client, les produits et biens proposés.</h4>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-comment logo slideanim"></span>
      </div>
    </div>
  </div>

  <br>

  <div class="container-fluid bg-grey">
    <div class="row">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-globe logo slideanim"></span>
      </div>
      <div class="col-sm-8">
        <h2>Notre objectif avec vous</h2><br>
        <h4>Nous connaissons les problématiques des entreprises. Nous avons donc crée Salesandbuy : une plateforme qui vous accompagnera sur les problématiques de croissance de votre entreprise (trouver les bonnes sociétés partenaires, générer ou augmenter son C.A., suivre les actions, etc….). Nous avons créé des outils pour faciliter la communication entre vous, entreprises, à travers une messagerie et un sytème de devis. Nous aimerons ajouter que vos retours d’expérience sont très importants pour nous. Ils nous permettront de sans cesse améliorer notre plateforme afin de répondre à vos besoins.</h4>
      </div>
    </div>
  </div>

  <div class="slideanim">
    <div class="to-top">
      <a href="#Sales&Buy" title="To Top">
        <span class="glyphicon glyphicon-chevron-up"></span>
      </a>
    </div>
  </div>

  <br>

  <!-- annonces aléatoires -->
  <div class="container-fluid bg-grey">
    <center><h2>Quelques annonces</h2></center>
    <div class="row">
      <% @annonces.each do |annonce| %>
        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading preview">
              <a href="<%= annonce_path(annonce) %>">
                <%= image_tag annonce.photos[0].image.url(:medium) if annonce.photos.length > 0 %>
              </a>
            </div>
          
            <div class="panel-body">
              <p class="home-link">
                <b>
                  <span id="average_rating_header"></span>
                  <!--laisser sur une ligne (ronan)-->
                  <%= link_to pluralize(annonce.user.firm_name, "vous présente son "), annonce_path(annonce) %><%= link_to pluralize(annonce.product, "\""), annonce_path(annonce) %><%= link_to annonce.product_name, annonce_path(annonce) %><%= link_to "\"", annonce_path(annonce) %>
                  <br>
                  <%= link_to annonce.description_annonce, annonce_path(annonce) %>
                </b>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <br>

  <div id="AVANTAGES" class="container-fluid text-center bg-grey">
    <h2>LES AVANTAGES</h2>
    <br>
    <div class="row-1 slideanim">
      <div class="col-lg-4">
        <%= image_tag("im1.png", class: "img-1 slideanim") %>
        <h4>Echanger</h4>
        <p>A travers une messagerie et un système de devis</p>
      </div>
      <div class="col-lg-4">
        <%= image_tag("im3.png", class: "img-3 slideanim") %>
        <h4>Collaborer</h4>
        <p>Avec des entreprises choisies selon vos critères: appréciations, produits proposés...</p>
      </div>
      <div class="col-lg-4">
        <%= image_tag("im2.png", class: "img-2 slideanim") %>
        <h4 style="color:#303030;">Négocier</h4>
        <p>Sur un produit ou un service proposé par une entreprise donnée grâce aux fiches produits.</p>
      </div>
    </div>
  </div>

  <br>

  <div id="AVIS" class="container-fluid bg-grey">
    <center><h2>petits mots du staff</h2></center>
    <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <h4>"Un site répondant aux besoins du client"<br><span>Thomas Brule, CEO de Sales&Buy</span></h4>
        </div>
        <div class="item">
          <h4>"Je programmerai toute ma vie."<br><span> Ronan Borgne, Sales&Buy</span></h4>
        </div>
        <div class="item">
          <h4>"Code is the life."<br><span> Serpil, Sales&Buy</span></h4>
        </div>
        <div class="item">
          <h4>"Salesandbuy pour vous servir."<br><span> Sales&Buy</span></h4>
        </div>
      </div>
    
      <!-- Bouton droite et gauche -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <br>

  <!-- Container (Contact Section) -->
  <div id="contact" class="container-fluid bg-grey">
    <h2 class="text-center">CONTACT</h2>
    <div class="row">
      <div class="col-sm-5">
        <p>Contactez-nous et nous vous répondrons dans les 24 heures.</p>
        <p><span class="glyphicon glyphicon-map-marker"></span> Paris</p>
        <p><span class="glyphicon glyphicon-phone"></span> 07 64 00 91 40</p>
        <p><span class="glyphicon glyphicon-envelope"></span> contact@startme-up.com</p>
      </div>
      <%= form_for @page do |f|%>
        <div class="col-sm-7 slideanim">
          <div class="row">
            <div class="col-sm-6 form-group">
              <%= f.text_field :name, required: true, class: "form-control", placeholder: "Nom" %>
            </div>
            <div class="col-sm-6 form-group">
              <%= f.email_field :email, required: true, class: "form-control", placeholder: "Email" %>
            </div>
          </div>
          <%= f.text_area :message, as: :text, class:"form-control", placeholder: "S'il vous plaît entrez votre message ici...", rows:"5" %><br>
          <div class="row">
            <div class="col-sm-12 form-group">
              <%= f.submit 'Envoyer', class:"btn btn-default pull-right" %> 
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

<script>
$(document).ready(function(){
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>
