    <div class="panel panel-default">
        <div class="panel-heading">
            Créer vos fiches produit ou service
        </div>

        <div class="panel-body">
            <div class="container">

                <%= form_for @annonce, html: {multipart: true} do |f| %>
                    <%= render 'shared/errors' %>

                    <div class="row">
                        <div class="col-md-4 select">
                            <div class="form-group">
                                <label>Produit ou service</label>
                                <%= f.select :product, [["Produit","Produit"], ["Service","Service"]], id: "product", 
                                prompt: "A sélectionner...", class: "form-control" %>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label>Le secteur de marché de votre produit.</label>
                            <%= f.text_field :product_type, placeholder: "Le type de produit ou service", class: "form-control" %>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label>le nom du produit ou service</label>
                            <%= f.text_field :product_name, placeholder: "Titre du produit ou service", class: "form-control" %>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <span class="btn btn-default btn-file">
                                    <i class = "fa fa-cloud-upload-alt fa-lg"></i> Téléchargez des photos de vos produits et/ou services!
                                    <%= file_field_tag "images[]", type: :file, multiple: true %>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div id="photos"><%= render 'photos/list' %></div>

                    <div class="row">
                        <div class="form-group">
                            <label>description de votre produit/service, votre offre, les avantages, etc,...</label>
                            <%= f.text_area :description_annonce, rows:4, placeholder: "Décrivez le produit ou service, son utilité, ses avantages, etc...",
                            class: "form-control" %>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label>La quantité disponible</label>
                            <%= f.text_field :quantite, placeholder: "ex: 25", class: "form-control" %>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Prix par unité</label>
                                <div class="input-group">
                                    <%= f.text_field :price, placeholder: "ex: 45€", class: "form-control" %>
                                    <div class="input-group-addon">€</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="row">
                        <div class="form-group">
                            f.check_box :active Vente active
                        </div>
                    </div> -->

                    <div class="actions">
                        <%= f.submit "Je valide", class: "btn btn-primary" %>
                    </div>

                <% end %>

            </div>
        </div>
    </div>
