    <div class="row">
        <div class="col-md-3">
            <ul class="sidebar-list">
                <li class="sidebar-item">
                    <%= link_to "Mes annonces", annonces_path, class:"sidebar-link" %>
                </li>

                <li class="sidebar-item">
                    <%= link_to "Mes propositions de partenariat", propositions_path, class:"sidebar-link" %>
                </li>

                <li class="sidebar-item">
                    <%= link_to "Mes partenariats", partenariats_path, class:"sidebar-link" %>
                </li>
            </ul>
        </div>

        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">Mes annonces</div>
                <div class="panel-body">

                    <% @annonces.each do |annonce| %>

                        <div class="row">
                            <div class="col-md-2">
                                <%= annonce.product %>:
                                <%= image_tag annonce.photos[0].image.url(:thumb) if annonce.photos.length > 0 %>
                            </div>

                            <div class="col-md-7">
                                <h4>Nom du <%= annonce.product %>: <strong><%= annonce.product_name %></strong></h4> <br>
                                Type du <%= annonce.product %>: <%= annonce.product_type %>
                            </div>

                            <div class="col-md-3 right">
                                <%= link_to "Mettre à jour", edit_annonce_path(annonce), class: "btn btn-primary" %>
                            </div>

                            <div class="col-md-3 right">
                                <br>
                                <%= link_to "Voir mon annonce", annonce_path(annonce), class: "btn btn-primary" %>
                            </div>
                            
                            <div class="col-md-3 right">
                                <br>
                            <%= link_to 'Supprimer mon annonce', annonce_path(annonce), method: :delete, data: {confirm: 'ëtes-vous sur de vouloir supprimer votre annonce?'}, class: "btn btn-primary" %>
                            </div>
                        </div>

                        <hr>

                    <% end %>

                </div>
            </div>
        </div>
    </div>
