    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <%= link_to user_path(@annonce.user) do %>
                                <%= image_tag avatar_url(@annonce.user), class:"img-circle avatar-large" %>
                            <% end %>

                            <br>

                            <%= link_to user_path(@annonce.user) do %>
                                Entreprise: <%= @annonce.user.firm_name %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <!-- Carousel -->
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <% if @photos %>
                            <% @photos.each do |photo| %>
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="<%= photo.id %>" class="active"></li>
                                </ol>
                            <% end %>
                        <% end %>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <% if @photos %>
                                <% @photos.each do |photo| %>
                                    <div class="item <%= 'active' if photo.id == @photos[0].id %>">
                                        <%= image_tag photo.image.url() %>
                                    </div>
                                <% end %>
                            <% end %>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Précédent</span>
                        </a>

                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Suivant</span>
                        </a>
                    </div>
                </div>
            </div>

            <br>
            <hr>

            <!-- Informations principales -->
            <div class="row">
                <div class="col-md-12"></div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-9">
                            <a href="#average_rating", class="sidebar-link"><span id="average_rating_header"></span> <%= @reviews.count %></a>
                            <h2>A propos de ce <%= @annonce.product %></h2>
                            <p><%= @annonce.description_annonce %></p>
                            <%= @annonce.product_name %> 
                            <%= @annonce.product_type %>
                            <br>
                            <br>
                            <span class="<%= 'text-hidden' if @annonce.quantite.nil? %>">
                                La quantité disponible est de <%= @annonce.quantite %>
                                <br>
                            </span>
                            Le prix est de <%= @annonce.price %>€
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <!-- Formulaire de réservation -->
                    <%= render 'negoces/form' %>
                </div>
            </div>
            
            <br>
            <br>
            <br>
        
            <!-- Reviews -->
            <div class="row">
                <div class="col-md-12">
                    <h3><%= pluralize(@reviews.count, 'commentaire') %></h3>
                    <div class="container">
                        <%= render 'reviews/form' if !@hasReview %>
                        <!-- ATTENTION : @booked à changer ou supprimer -->
                        <!-- render 'reviews/form' if @booked && !@hasReview -->
                    </div>
                    <%= render 'reviews/list' %>
                </div>
            </div>
        </div>
    </div>

<script>
    $('#average_rating').raty({
        path: '/assets',
        readOnly: true,
        score: <%= @annonce.average_rating %>
    });
</script>

<script>
    $('#average_rating_header').raty({
        path: '/assets',
        readOnly: true,
        score: <%= @annonce.average_rating %>
    });
</script>
