@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";
@import "font-awesome-sprockets";
@import "font-awesome";

/* section 5 */

label {
    color: #565a5c;
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 10px;
}

select {
    color: #565a5c;
    background-color: #fff;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 10px;
    appearance: none;
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
}

.select:before {
    content: '\25bc';
    font-size: 1.2em;
    position: absolute;
    color: #82888A;
    top: 40px;
    right: 30px;
    transform: scale(0.84, 0.42);
}

input[type="checkbox"] {
    height: 1.25em;
    width: 1.25em;
    margin-bottom: -0.25em;
    margin-right: 5px;
    vertical-align: top;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    appearance: none;
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
}

input[type="checkbox"]:checked:before {
    content: "\2713";
    position: absolute;
    font-size: 0.95em;
    text-align: center;
    width: 1.25em;
    color: #ff5a5f;
}


/* Avatar */

.avatar-small {
    width: 28px;
}

.avatar-medium {
    width: 48px;
}

.avatar-large {
    width: 68px;
}

.avatar-full {
    width: 100%;
}


/* Autre */

body {
    color: #565a5c;
}

.container {
    width: 80%; /* Normal */
}

.btn-primary.btn {
    border: 1px solid #1E90FF;
    border-radius: 2px;
    font-weight: bold;
    background-color: #1E90FF;
    color: #fff;
    padding: 10px 25px 10px 25px;
}

.btn-primary.btn:hover,
.btn-primary.btn:focus {
    border-color: #87CEFA;
    border-bottom-color: #87CEFA;
    background-color: #87CEFA;
    outline: none;
}

.btn-primary.btn:active {
    border-color: #87CEFA;
    background-color: #87CEFA;
    outline: none;
}

.btn-default.btn {
    width: 100%;
    border-radius: 2px;
    padding: 10px 0;
    margin-top: 10px;
}

.panel-default .panel-heading {
    color: #565a5c;
    background-color: #edefed;
    font-size: 18px;
    font-weight: 400
}

.row-space-1 {
    margin-top: 6px;
    margin-bottom: 6px;
}

.row-space-2 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.row-space-3 {
    margin-top: 24px;
    margin-bottom: 24px;
}

.description {
    color: #575757;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
}

.form-group {
    margin-bottom: 25px;
}

.form-control {
    border-radius: 2px;
    height: 4rem;
}

.sidebar-list {
    padding-left: 0;
    list-style: none;
}

.sidebar-item {
    padding: 10px 0;
    font-size: 16px;
    color: #82888a;
    border-bottom: 1px solid #CCC;
}

.sidebar-link {
    color: #82888a;
    text-decoration: none;
}

.sidebar-link:hover,
.sidebar-link:focus {
    color: #cacccd;
    text-decoration: none;
}

.active.sidebar-link {
    color: #565a5c;
    font-weight: bold;
    text-decoration: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-primary-fb.btn {
    border: 1px solid #4568b2;
    border-radius: 2px;
    font-weight: bold;
    background-color: #4568b2;
    color: #fff;
    padding: 10px 25px 10px 25px;
}

.btn-primary-fb.btn:hover,
.btn-primary-fb.btn:focus {
    border-color: #627aac;
    background-color: #627aac;
    outline: none;
}

.btn-primary-fb.btn:active {
    border-color: #2b2eb2;
    background-color: #2b2eb2;
    outline: none;
}

.panel-heading.preview {
    padding: 0;
}

.panel-heading.preview img {
    width: 100%;
}

.text-hidden {
    display: none;
    /* css quantité annonce si nil */
}

.negoce-table td {
    width: 100%;
    border: 1px solid #dce0e0;
    padding: 10px;
}

.wide {
    width: 100%;
}

.price_tag {
    background-color: #606567;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
}


/*annonce aléatoire */

.home-link a,
p {
    color: #82888a;
    text-decoration: none;
}

.home-link:hover a,
.home-link:focus a {
    color: #82888a;
    text-decoration: none;
}


/* conversation/messagerie */

.conversation {
    color: #7f7f7f;
    padding: 10px;
}

.conversation:hover,
.conversation:focus {
    background-color: #F4F4F5;
}


/* homepage */

.img-1 {
    width: 300px;
}

.img-3 {
    width: 140px;
}

.img-2 {
    width: 210px;
}


/* footer */

footer {
    margin-top: 5%;
}
