    <p>Bonjour <%= @resource.firm_name %>!</p>
    
    <p>Vous avez fait une demande de mot de passe.</p>
    
    <p><%= link_to 'Je change mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>
    
    <p>Si vous n'avez fait aucune demande, ignorez ce mail.</p>
