    <p>Bonjour <%= @resource.email %>!</p>
    
    <p>Votre compte a été verrouillé en raison d'un nombre excessif de tentatives de connexion infructueuses.</p>
    
    <p>Cliquez sur le lien ci-dessous pour déverrouiller votre compte:</p>
    
    <p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
