<%= form_for([@annonce, @annonce.reviews.new]) do |f| %>

    <% if (!user_signed_in?) %>
    
    <% else %>
        
        <div id="user_stars"></div>

        <div class="form-group">
            <%= f.text_area :comment, rows: 3, class: "form-control" %>
        </div>
        
        <%= f.hidden_field :annonce_id, value: @annonce.id %>
        
        <div class="actions">
            <%= f.submit "Evaluez", class: "btn btn-primary" %>
        </div>
    
    <% end %>

<% end %>

<script>
    $('#user_stars').raty({
        path: '/assets',
        scoreName: 'review[star]',
        score: 1
        });
</script>
