<footer class="page-footer font-small blue pt-4 mt-4">
    <div class="container-fluid text-md-left">
        <div class="row">
            <div class="col-md-6">
                <p>Mail: <strong>contact@startme-up.com</strong></p>
                <p>Tél: <strong>07 64 00 91 40</strong></p>
            </div>        
        </div>
    </div>
</footer>
