<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Sales&Buy</title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= csrf_meta_tags %>

    <%= favicon_link_tag 'favicon.ico' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
      @media only screen and (max-width: 1325px) {
        .container {
          width: 100%; /* Responsive */
        }
      }
    </style>
  </head>

  <body>
    
    <%= render 'layouts/navigation' %>

    <%= render 'shared/message' %>

    <div class="container">
      <%= yield %>
    </div>

    <%= render partial: 'layouts/footer' %>

  </body>
</html>
